# Python virtual environments
myenv/
.env/
venv/

# Compiled Python files
__pycache__/
*.py[cod]
*.so

# Checkpoints and model weights
*.pt
*.pth
*.ckpt

# VSCode settings
.vscode/

# Debug/output folders
debug_frames/

# Log files
*.log

# Datasets or large data
data/
*.zip
*.tar.gz
*.tar

# Folder versions or hidden system files (optional cleanup)
2.4.1/
2.4.1'/
3.9'/
5.3.1/
5.3.1'/

# System-specific files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/
